html {
    font-size: 16px;
}

body {
    font-size: 0.8em;
    line-height: 1.5;
    font-family: 'Uncial Antiqua', cursive;
    background-color: rgb(114, 61, 0);
}

main {
    width: 80%;
    margin: 0 auto;
}

.float {
    float: right;
}

.lead {
    font-size: 6.4em;
    color: rgba(21, 255, 0, 0.8);
}